{
    "title": "Simplog",
    "subtitle": "Yet another blog",
    "meta": {
        "description": "简单的静态博客搭建系统",
        "keywords": ["Simplog","简单","博客"],
        "author": "Simplog"
    },
    "master": {
        "name": "",
        "description": "",
        "email": "",
        "weibo": ""
    },
    "copyright": {
        "owner": "Simplog",
        "beginYear": "2012",
        "endYear": "2013",
        "ICP": "京ICP备12345678-1号"
    }
}
