body {
    background-color: #FEFEFE;
    font-family: 'lucida grande',Tahoma,Helvetica,Arial,sans-serif; 
}
a {
    text-decoration: none;
    color: #0099CC;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 18px;
    line-height: 30px;
}
p, h1, h2, h3, h4 {
    color: #333333;
}
pre.prettyprint {
	font-size: 14px;
}
div#header {
    background-color: #0099CC;
    height: 50px;
}
div#header-inner {
    width: 960px;
    margin: 0 auto;
    padding-top: 2px;
}
div#main-inner {
    width: 960px;
    margin: 0 auto;
}
div#title a {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}
div#subtitle {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
}
div#footer-inner {
    border-top: 1px solid #0099CC;
    width: 960px;
    margin: 20px auto 0;
}
div#footer-inner p {
    text-align: right;
    font-size: 16px;
}
div#footer-inner p#icp a {
    color: #999999;
}
div#article-title {
    margin: 30px 0;
    font-size: 32px;
    font-weight: bold;
    border-left: 6px solid #CCCCCC;
    padding-left: 12px;
}
div#article-title a {
    color: #333333;
}
div#article-content p.picture {
    text-align: center;
}
div#article-meta {
    color: #999999;
    padding: 6px 0;
}
div.article-block {
    border-top: 1px dashed #CCCCCC;
}
div.article-block p.title {
    font-size: 24px;
    font-weight: bold;
}
div.article-block p.meta {
    text-align: right;
    color: #999999;
}
div#aboutme {
    margin: 20px auto;
}
div#aboutme p {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
div#rss {
    margin: 20px auto;
    border-bottom: 1px dashed #CCCCCC;
    text-align: right;
}
div#rss a {
    font-size: 20px;
    font-weight: bold;
    color: #FF9900;
}
