<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="{%= META_DESC %}"/>
        <meta name="keywords" content="{%= META_KW %}"/>
        <meta name="author" content="{%= META_AUTHOR %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>{%= TITLE %} - {%= SUBTITLE %}</title>
        <link rel="stylesheet" href="/assets/vendor/normalize.css"/>
        <link rel="stylesheet" href="/assets/vendor/prettify.css"/>
        <link rel="stylesheet" href="/assets/css/simplog.css"/>
        <link rel="shortcut icon" href="/fav.ico"/>
        <script type="text/javascript" src="/assets/vendor/prettify.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-35712773-3', 'codinglabs.org');
            ga('send', 'pageview');
        </script>
    </head>
    <body onload="prettyPrint()">
        <div id="header">
            <div id="header-inner">
                <div id="title"><a href="/"><small>{</small> {%= TITLE %} <small>}</small></a></div>
                <div id="subtitle">/&gt; {%= SUBTITLE %}</div>
            </div>
        </div>
        <div id="main">
            <div id="main-inner">
                <h1>{%= PAGE_TITLE %}</h1>
                <div id="page-content">{%= PAGE_CONTENT %}</div>
            </div>
        </div>
        <div id="footer">
            <div id="footer-inner">
                <p id="copyright">Copyright (c) {%= COPYRIGHT_BEGINYEAR %}-{%= COPYRIGHT_ENDYEAR %} {%= COPYRIGHT_OWNER %}. <span id="madeonmymac" style="color:#999999;">Made on my Mac </span></p>
                <p id="icp"><a href="http://www.miibeian.gov.cn/" target="_blank">{%= COPYRIGHT_ICP %}</a></p>
            </div>
        </div>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </body>
</html>
