        <% include inc/header %>
        <div id="header">
            <div id="header-inner">
                <div id="title"><a href="/"><small>{</small> {%= TITLE %} <small>}</small></a></div>
                <div id="subtitle">/&gt; {%= SUBTITLE %}</div>
            </div>
        </div>
        <div id="main">
            <div id="main-inner">
                <div id="topnav">
                    <ul>
                        <li><a href="/">首页</a></li>
                        <li class="sep"> | </li>
                        <li><a href="/tag.html">标签</a></li>
                        <li class="sep"> | </li>
                        <li><a href="/pages/about-me.html">关于我</a></li>
                        <li class="sep"> | </li>
                        <li><a href="http://feed.feedsky.com/EricZhangsTechBlog">+订阅</a></li>
                        <li class="sep"> | </li>
                        <li><a href="http://weibo.com/ericzhangbuaa" target="_blank">@微博</a></li>
                        <li class="sep"> | </li>
                        <li><a href="https://github.com/ericzhang-cn" target="_blank">@github</a></li>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
                <div id="tag-cloud">{%= TAG_CLOUD %}<div style="clear:both;"></div></div>
                <div id="tag-index">{%= TAG_INDEX %}</div>
            </div>
        </div>
        <% include inc/header %>
