        <div id="footer">
            <div id="footer-inner">
                <p id="copyright">Copyright (c) <%= site.copyright.beginYear %>-<%= site.copyright.endYear %> <%= site.copyright.owner %>. <span id="madeonmymac" style="color:#999999;">Made on my Mac </span></p>
                <p id="icp"><a href="http://www.miibeian.gov.cn/" target="_blank"><%= site.copyright.ICP %></a></p>
            </div>
        </div>
        <script type="text/javascript" src="/assets/vendor/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </body>
</html>
