<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="{%= META_DESC %}"/>
        <meta name="keywords" content="{%= META_KW %}"/>
        <meta name="author" content="{%= META_AUTHOR %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>{%= TITLE %} - {%= ARTICLE_TITLE %}</title>
        <link rel="stylesheet" href="/assets/vendor/normalize.css"/>
        <link rel="stylesheet" href="/assets/vendor/prettify.css"/>
        <link rel="stylesheet" href="/assets/css/simplog.css"/>
        <link rel="shortcut icon" href="/fav.ico"/>
        <script type="text/javascript" src="/assets/vendor/prettify.js"></script>
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F75dfda8ff8a93fa0b94adeb17da37a2f' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </head>
    <body onload="prettyPrint()">
        <div id="header">
            <div id="header-inner">
                <div id="title"><a href="/"><small>{</small> {%= TITLE %} <small>}</small></a></div>
                <div id="subtitle">/&gt; {%= SUBTITLE %}</div>
            </div>
        </div>
        <div id="main">
            <div id="main-inner">
                <div id="article-title">
                    <a href="{%= ARTICLE_LINK %}">{%= ARTICLE_TITLE %}</a>
                </div>
                <div id="article-meta">
                    作者 {%= ARTICLE_AUTHOR %} | 发布于 {%= ARTICLE_POSTED_ON %} | 最后更新 {%= ARTICLE_UPDATED_ON %}
                </div>
                <div id="article-tags">
                    {%= ARTICLE_TAGS %}
                </div>
                <div id="article-content">
                    {%= ARTICLE_CONTENT %}
                </div>

<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {lkrc:0};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=894207"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_qzone">QQ空间</a>
    <a class="jiathis_button_tsina">新浪微博</a>
    <a class="jiathis_button_tqq">腾讯微博</a>
    <a class="jiathis_button_renren">人人网</a>
    <a href="http://www.jiathis.com/share?uid=894207" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
    <a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">
    var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=894207" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
    var duoshuoQuery = {short_name:"coding-labs"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- Duoshuo Comment END -->
            </div>
        </div>
        <div id="footer">
            <div id="footer-inner">
                <p id="copyright">Copyright (c) {%= COPYRIGHT_BEGINYEAR %}-{%= COPYRIGHT_ENDYEAR %} {%= COPYRIGHT_OWNER %}. <span id="madeonmymac" style="color:#999999;">Made on my Mac </span></p>
                <p id="icp"><a href="http://www.miibeian.gov.cn/" target="_blank">{%= COPYRIGHT_ICP %}</a></p>
            </div>
        </div>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </body>
</html>
